.meafordsunset {
      max-width: 100%;
	}

.title {
      font-style: italic;
      border: 1px solid black;
	}


body {
  background-color: lightblue;
	}

h1 {
  color: black;
  text-align: center;
  font-family:courier,couriernew;
	}

p {
  font-family:timesnewroman;
  font-size: 18px;
  color: black;
  line-height: 1.6;
	}
