.meafordsunset {
      max-width: 100%;
	}

.title {
      font-style: italic;
      border: 1px solid black;
	}

body {
  background-color: lightblue;
	}

h1 {
  color: black;
  text-align: center;
  font-family:courier,couriernew;
	}

p {
  font-family:timesnewroman
  font-size: 18px;
  color: black;
  line-height: 1.6;
	}

.container {
  position: relative;
  font-family: Comic Sans MS;
 font-size: 25px;
 font-weight: bold;
}

.text-block {
  position: absolute;
  bottom: 130px;
  right: 150px;
  background-color: transparent;
  color: white;
  padding-left: 125px;
  padding-right: 125px;
}



/* For external CSS later */
/* Adapted From: https://www. */ 
