body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: center;
  font-family:courier,couriernew;
}

p {
  font-family:timesnewroman;
  font-size: 18px;
  color: black;
  line-height: 1.6;
}
}
</style>