/* The following pages were referenced as they pertain to HTML and CSS design for this webpage: https://codepen.io/nsieber/pen/vO and https://www.w3schools.com/ */ 
h1 {
  border-style: solid;
  border-width: 12px;
  width: 70%;
  
  background: #87CEFA; /* This the backdrop for the content within the webpage's main heading. The corresponding colour is light sky blue. */
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: Impact, Charcoal, sans-serif; /* A family of fonts included for backup as part of the "fallback" system (https://www.w3schools.com/cssref/pr_font_font-family.asp) */
  padding: 30px;
  margin: auto;
    }
div {
  background-color: #EEE8AA; /* This is a block element that acts as the backdrop for the majority of the webpage's content. The corresponding colour is pale golden rod. */
  width: 70%;
  border-style: solid;
  border-width:4px;
  text-align: left;
  padding: 35px;
  margin: auto;
     }
body {
  background-image: url('meaford_sunset.jpg') /* This is the main background for the body of the webpage. It is a picture of a sunset I took in Meaford, Ontario on August 31, 2020. */
     }
	 
h2 {
  font-family: Tahoma, Geneva, sans-serif; /* A family of fonts included for backup as part of the "fallback" system (https://www.w3schools.com/cssref/pr_font_font-family.asp) */
   } 
 
h4 {
  font-family: "Arial Black"; /* Quotation marks added due to spacing. */
  text-align: center;
   }
	  
img {
  display: block;      /* Displays <img> elements as blocks */
  margin-left: auto;   /* Works to centre all images */
  margin-right: auto;  /* Works to centre all images */
    }
  
p  {
  font-family: Georgia; /* The main font seen throughout the webpage's content */
   }

h5 {
  font-family: Georgia;   /* This element was used once. It appears at the bottom of the photo gallery as a relative link. It provides the user with the option of returning to the previous page. */
  text-align: center;  
   }

